{% extends 'base.html.twig' %}

{% block title %}DemandeStock index{% endblock %}

{% block body %}
    <h1>DemandeStock index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_stock in demande_stocks %}
            <tr>
                <td>{{ demande_stock.id }}</td>
                <td>
                    <a href="{{ path('demande_stock_show', {'id': demande_stock.id}) }}">show</a>
                    <a href="{{ path('demande_stock_edit', {'id': demande_stock.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('demande_stock_new') }}">Create new</a>
{% endblock %}
