<form method="post" action="{{ path('inventaire_delete', {'id': inventaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventaire.id) }}">
  <button class="btn btn-danger custombutton" {% if app.request.attributes.get('_route') in [
                    'inventaire_index' ,
                    'inventaire_new' ,
                    'inventaire_edit' ,
                    'inventaire_delete'
                    ] %}  style="
      margin-top: -60px;
    margin-left: 115px;" {% endif %}><i class="fa fa-trash-o"></i> Supprimer</button>
</form>
