{% extends 'base.html.twig' %}

{% block title %}Inventaire index{% endblock %}

{% block body %}
    <h1>Inventaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inventaire in inventaires %}
            <tr>
                <td>{{ inventaire.id }}</td>
                <td>
                    <a href="{{ path('inventaire_show', {'id': inventaire.id}) }}">show</a>
                    <a href="{{ path('inventaire_edit', {'id': inventaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inventaire_new') }}">Create new</a>
{% endblock %}
