{% extends 'base.html.twig' %}

{% block title %}New Inventaire{% endblock %}

{% block body %}
    <h1>Create new Inventaire</h1>

    {{ include('inventaire/_form.html.twig') }}

    <a href="{{ path('inventaire_index') }}">back to list</a>
{% endblock %}
