{% extends 'base.html.twig' %}

{% block title %}Edit Commands{% endblock %}

{% block body %}
    <h1>Edit Commands</h1>

    {{ include('commands/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commands_index') }}">back to list</a>

    {{ include('commands/_delete_form.html.twig') }}
{% endblock %}
