<form method="post" action="{{ path('ligne_demande_stock_delete', {'id': ligne_demande_stock.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ligne_demande_stock.id) }}">
    <button class="btn">Delete</button>
</form>
