{% extends 'base.html.twig' %}

{% block title %}New LigneDemandeStock{% endblock %}

{% block body %}
    <h1>Create new LigneDemandeStock</h1>

    {{ include('ligne_demande_stock/_form.html.twig') }}

    <a href="{{ path('ligne_demande_stock_index') }}">back to list</a>
{% endblock %}
