{% extends 'base.html.twig' %}

{% block title %}Edit StockVoitures{% endblock %}

{% block body %}
    <h1>Edit StockVoitures</h1>

    {{ include('stock_voitures/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stock_voitures_index') }}">back to list</a>

    {{ include('stock_voitures/_delete_form.html.twig') }}
{% endblock %}
