{% extends 'base.html.twig' %}

{% block title %}New StockVoitures{% endblock %}

{% block body %}
    <h1>Create new StockVoitures</h1>

    {{ include('stock_voitures/_form.html.twig') }}

    <a href="{{ path('stock_voitures_index') }}">back to list</a>
{% endblock %}
