{% extends 'base.html.twig' %}

{% block title %}Edit LigneReglement{% endblock %}

{% block body %}
    <h1>Edit LigneReglement</h1>

    {{ include('ligne_reglement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ligne_reglement_index') }}">back to list</a>

    {{ include('ligne_reglement/_delete_form.html.twig') }}
{% endblock %}
