{% extends 'base.html.twig' %}

{% block title %}New LigneReglement{% endblock %}

{% block body %}
    <h1>Create new LigneReglement</h1>

    {{ include('ligne_reglement/_form.html.twig') }}

    <a href="{{ path('ligne_reglement_index') }}">back to list</a>
{% endblock %}
