{% extends 'base.html.twig' %}

{% block title %}New LigneCommand{% endblock %}

{% block body %}
    <h1>Create new LigneCommand</h1>

    {{ include('ligne_command/_form.html.twig') }}

    <a href="{{ path('ligne_command_index') }}">back to list</a>
{% endblock %}
