{% extends 'base.html.twig' %}

{% block title %}New LigneFacture{% endblock %}

{% block body %}
    <h1>Create new LigneFacture</h1>

    {{ include('ligne_facture/_form.html.twig') }}

    <a href="{{ path('ligne_facture_index') }}">back to list</a>
{% endblock %}
