{% extends 'base.html.twig' %}

{% block title %}Edit Tva{% endblock %}

{% block body %}
    <h1>Edit Tva</h1>

    {{ include('tva/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tva_index') }}">back to list</a>

    {{ include('tva/_delete_form.html.twig') }}
{% endblock %}
